{% block content %}
<div><a href="/">Home</a>&nbsp;&nbsp;<a href="/delete_sms">Delete All</a></div>
<div>
<table cellspacing="0" width="100%">
    <thead>
        <tr>
	    <th>S.No</td>
      	    <th>Sender&nbsp;Id</th>
      	    <th>Amount</th>
      	    <th>CC&nbsp;Number</th>
      	    <th>Transfer&nbsp;Date</th>
      	    <th>SMS&nbsp;Receive&nbsp;Date</th>
    	</tr>
    </thead>
    <tbody>
    {% if smsdata %}
	{% for data in smsdata %}
	    <tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ data.sender_id }}</td>
		<td>{{ data.amount }}</td>
		<td>{{ data.credit_card_number }}</td>
		<td>{{ data.transaction_datetime }}</td>
		<td>{{ data.sms_receive_datetime }}</td>
	    </tr>
	{% endfor %}
    {% endif %}
    </tbody>
</table>
</div>
{% endblock %}
