<html>
    <body>
	{% block upload_form %}
	<div align="center">
	<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
  	    Upload File: <input type="file" name="file"></br></br>
	    <input type="submit" name="submit" value="Submit">
	</form>
	</div>
	{% endblock %}
    </body>
</html>
